# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Temporários
*.tmp
*.temp
